<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button matTooltip="🐱Gram Home" routerLink="/feed">
      🐱Gram
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="user$ | async as user; else loginIcon">
      <button mat-icon-button matTooltip="Post a cute 🐱" routerLink="/create">
        <mat-icon aria-hidden="false" aria-label="Post a cute 🐱">
          cloud_upload
        </mat-icon>
      </button>

      <app-profile-card (logoutClick)="logout()" [user]="user"></app-profile-card>
    </ng-container>
    <ng-template #loginIcon>
      <button (click)="login()" mat-icon-button matTooltip="Login">
        <mat-icon aria-hidden="false" aria-label="Login">
          fingerprint
        </mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
